@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    gap: 50px;
}


nav a{
    transition: 0.2s;
}


nav a:hover{
color: rgb(23, 230, 23);
}





nav a:hover:last-child{
    color: white;

    }

.headerP{
    z-index: 1111 !important;
}


    nav a:last-child{
       transition: 0.4s;
     
         }

nav a:last-child:hover{
   transform: translateY(-8px);

    }





    .imageCont img{
        width: 850px;
    }


    .hero{
        height: 650px;
        width: 100%;
        display: flex;
align-items: center;
justify-content: space-between;
gap: 50px;
    }




    .hero h1{
        font-size: 45px;
        margin-bottom: 25px;
        line-height: 1.5;
        opacity: 0.7;
        font-weight: 800;
    }





    .links{
        padding-top: 40px;
    }


    .links a{
        margin-right: 10px;
    }

   





.burger{
    font-size: 30px;
    cursor: pointer;
    display: none !important;
}


    @media (max-width:1128px){
        .burger{
            display: block !important;
        }
        
        nav{
            position: absolute;
            top: 100px;
            left: 0;
            padding-left: 35px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 30px;
            background-color: white !important;
            z-index: 1111;
            width: 100%;
            border-bottom: 1px solid rgb(187, 187, 187);
            padding-bottom: 20px;
            transition: 0.4s;
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
    }


    .opened{
      opacity: 1;
      visibility: visible;
      height: 415px;
    }






    @media (max-width:982px){
        .hero{
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 70px;
            padding-top: 40px;
            padding-bottom: 40px;

        }

        .hero2{
            flex-direction: column-reverse;
        }

        .imageCont{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .imageCont img{
            width: 500px !important;
        }
    }




    @media (max-width:670px){
        .hero h1{
            font-size: 35px;
        }
    }




    @media (max-width:434px){
       .links{
           display: flex;
           flex-direction: column;
           
       }

       .links a{
           display: flex;
           align-items: center;
           justify-content: center;
           gap: 20px;
       }

       .links a:first-child{
           margin-bottom: 15px;
       }

       .logo img{
           width: 150px;
       }
    }





    @media (max-width:550px){
       
        .imageCont img{
            width: 100%;
        } 
    }




    

.sec2{
    margin-top: 80px;
    margin-bottom: 150px;


}



    .sec2 .imageCont img{
        width: 1200px;
    }


    .sec2 h1{
        font-size: 40px;
        font-weight: 700;
    }


    .sec2 p{
       opacity: 0.8;
    }


    ul{
        list-style: none;
        display: flex;
        gap: 20px;
        flex-direction: column;
    margin-top: 20px;
    margin-bottom: 15px;

    }

    ul li{
        display: flex;
        align-items: center;

    }


    ul li i{
        font-size: 30px;
        color:#6d72f6;
        margin-right: 15px;
    }


    ul li span{
        font-weight: 600;
        font-size: 18px;
        opacity: 0.7;
    }


    .sec4 h1{
        opacity: 1;
    }

    .sec4 p{
        opacity: 1;
        margin-bottom: 20px;
    }


.sec4{
height: auto;
padding-bottom: 60px;
}













.gridSec{
    padding-top: 150px;
    padding-bottom: 150px;

}





.titleSec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 80px;
}


.titleSec h1{
    font-size: 30px;
    font-weight: 600;
}



.gridR{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1400px;
    margin: 0 auto;
    gap: 20px;
}

.grid1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 18px 30px 0 rgb(28 28 87 / 5%);
    padding: 40px 20px;
    text-align: center;
}

.grid1 img{
    width: 120px;
    margin-bottom: 25px;
}

.grid1 h3{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
    opacity: 0.8;
}


.grid1 p{
    opacity: 0.8;
}




footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    padding-top: 100px;
    padding-bottom: 20px;
    gap: 60px;
}

.f1{
    display: flex;
    flex-direction: column;

}

.f1 h3{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 20px;
}


.f1 img{
    width: 180px;
    margin-bottom: 15px;
}
.f1 a{
    margin-bottom: 20px;
}



@media (max-width:1074px){

.gridR{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    max-width: 1400px;
    margin: 0 auto;
    gap: 20px;
}
}




@media (max-width:644px){

    .gridR{
        display: grid;
        grid-template-columns: 1fr ;
        max-width: 1400px;
        margin: 0 auto;
        gap: 20px;
    }
    }


@media (max-width:882px){


footer{
    display: grid;
    grid-template-columns: 1fr ;
    
    padding-top: 100px;
    padding-bottom: 20px;
    gap: 60px;
}

}